<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gym Workout Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card routerLink="/muscles">
    <ion-card-header>
      <ion-card-title>Muscle Groups</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card routerLink="/exercises">
    <ion-card-header>
      <ion-card-title>Exercises</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card routerLink="/favorites">
    <ion-card-header>
      <ion-card-title>Favorites</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>